# Ignore vs files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore compiled files
sapphire/bin_debug/
sapphire/bin_int/
sapphire/bin_release/
sapphire/bin-int/
*.obj
*.pdb
*.ilk
*.idb
*.log
*.tlog/

# Ignore config
config.h

# Ignore binary files
*.dll
*.lib
*.exe

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
